.gallery-menu {
	position: relative;

	margin: 0 0 40px 0;

	text-align: center;

	a {
		display: inline-block;

		margin: 0 15px;

		color: #fff;

		cursor: pointer;

		&.selected {
			&:after {
				content: " ";

				display: block;

				position: relative;

				left: 50%;

				width: 4px;
				height: 4px;

				margin-left: -2px;

				border-radius: 100%;

				background: #fff;
			}
		}
	}
}

.image-list {
	position: relative;

	font-weight: 200;

	.loading-overlay {
		position: absolute;

		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgba(25, 25, 25, 0.5);
		background-image: url(../img/loading-white.gif);
		background-size: 60px;
		background-repeat: no-repeat;
		background-position: center 100px;

		opacity: 0;

		pointer-events: none;

		.transition(all 300ms ease-in-out);

		.loading& {
			opacity: 1;
		}
	}

	&.loading {
		.grid, .simple-list {
			opacity: 0.2;
		}
	}

	.list-buttons {
		position: fixed;

		right: 20px;
		bottom: 115px;

		z-index: 60;

		.timeline-view &, .image-display-module &, &.fixed {
			float: right;

			position: relative;

			top: -65px;
			bottom: auto;
		}

		button {
			display: inline-block;

			margin: 0 0 0 10px;

			&.icon-relative-sizes {
				position: relative;

				.icon-box {
					display: block;

					position: absolute;

					width: 9px;
					height: 9px;

					border: 1px solid #333;
					border-radius: 1px;

					.transition(all 300ms ease-in-out);

					&.box-1 {
						top: 10px;
						left: 10px;
					}

					&.box-2 {
						top: 10px;
						right: 10px;

						.relative-sizes& {
							width: 5px;
							height: 5px;

							top: 12px;
							right: 12px;
						}
					}

					&.box-3 {
						left: 10px;
						bottom: 10px;

						.relative-sizes& {
							width: 7px;
							height: 7px;

							left: 11px;
							bottom: 11px;
						}
					}

					&.box-4 {
						right: 10px;
						bottom: 10px;
					}
				}
			}
		}
	}
}

.image-label-grid {
	.grid-sizer {
		width: 10%;
	}

	.label-grid-item {
		display: block;

		position: relative;

		float: left;

		width: 10%;

		.smaller {
			margin-top: 20px;

			font-size: 1.6rem;
		}

		.image-wrapper {
			position: absolute;

			top: 50%;
			left: 50%;

			opacity: 0;

			pointer-events: none;

			.transition(all 400ms ease-in-out);

			.transform(translate(-50%, -50%));

			z-index: 10;

			img {
				max-width: 200px;
				max-height: 200px;
			}
		}

		&:hover {
			.image-wrapper {
				opacity: 0.98;
			}
		}

		.label {
			padding: 8px;

//			margin: 0 8px 8px 0;

			color: #000;

			background-color: #ffffff75;

			&:hover {
				background-color: #e5d9cc;
			}
		}
	}
}

.grid {
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: center 100px;
	background-size: 80px 80px;

	.grid-columns& {
		column-count: 6;
		column-gap: 0;
	}

	.container + & {
		margin-top: 50px;
	}

	.initialized& {
		background-image: none;
	}

	.no-results {
		position: relative !important;

		padding: 40px;

		text-align: center;
	}

	.image-grid& {
		.grid-item {
			display: block;

			position: relative;

			float: left;

			width: 20%;

			min-height: 100px;

			.transition(all 400ms ease-in-out);

			.grid-columns& {
				width: 100% !important;
			}

			.timeline-view & {
				width: 15%;
			}

			img {
				display: block;

				position: relative;

				width: 100%;
				height: 100%;

				opacity: 0;

				.transition(all 100ms ease-in-out);

			}

			.image-wrapper {
				position: relative;

				overflow: hidden;

				.image-proxy {
					position: absolute;

					top: 50%;
					left: 50%;

					background-size: cover;
					background-position: center;

					.transform(translate(-50%, -50%) scale(1.07));
					.transition(all 300ms ease-in-out);

					z-index: 2;
					opacity: 0;

					&.visible {
						display: block;
					}

					&.relative {

					}

					.initialized& {
						opacity: 1;
					}
				}

				img {
					.transform(scale(1.07));
				}

				.image-proxy {
				}
			}

			.grid-title {
			    position: absolute;

				bottom: 0;
				left: 0;
				right: 0;

				padding: 10px;

				background: rgba(0, 0, 0, 0.67);

				color: #fff;
				font-size: 1.8rem;
				line-height: 2.8rem;
				text-align: center;

				opacity: 0;

				pointer-events: none;

				.transform(translateY(80%));

				.transition(all 300ms ease-out);

				.smaller {
					margin-bottom: 10px;
					
					font-size: 1.4rem;
				}
			}

			&:hover {
				box-shadow: 0 2px 45px 15px rgba(0, 0, 0, 0.6);

				background-color: transparent !important;

				z-index: 50;

				.transform(scale(1.1));

				.grid-title {
					opacity: 1;

					.transform(translateY(100%));
				}

				.image-proxy {
					width: 100% !important;
					height: 100% !important;

	//				.transform(translate(-50%, -50%));
				}
			}
		}
	}

	.grid-sizer {
		width: 20%;

		.timeline-view & {
			width: 15%;
		}
	}

	@media screen and (max-width: 1250px) {
		.grid-item, .label-grid-item, .grid-sizer {
			width: 25% !important;

			.timeline-view & {
				width: 20% !important;
			}
		}
	}

	@media screen and (max-width: 1024px) {
		.grid-item, .label-grid-item, .grid-sizer {
			width: 33.3% !important;

			.timeline-view & {
				width: 25% !important;
			}
		}
	}

	@media screen and (max-width: 900px) {
		.grid-item, .label-grid-item, .grid-sizer {
			width: 33.3% !important;
		}
	}

	@media screen and (max-width: 400px) {
		.grid-item, .label-grid-item, .grid-sizer {
			width: 50% !important;
		}
	}
}

.simple-list {
	max-width: 1600px;

	margin: 20px auto;

	.no-results {
		position: relative !important;

		padding: 40px;

		text-align: center;
	}

	.list-divider {
		display: none;

		&.divider-3 {
			@media screen and (min-width: 1250px) {
				display: block;
			}
		}

		&.divider-2 {
			@media screen and (min-width: 800px) and (max-width: 1250px) {
				display: block;
			}
		}
	}

	.simple-item {
		display: flex;

		float: left;
		position: relative;

		width: 33%;

		padding: 0 30px 80px 30px;

		box-sizing: border-box;

		color: #fff;

		@media screen and (max-width: 1250px) {
			width: 50%;
		}

		@media screen and (max-width: 800px) {
			width: 100%;
		}

		.image-thumb {
			width: 150px;

			margin-right: 20px;

			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			align-self: flex-start;

			img {
				display: block;

				max-width: 150px;
			}
		}

		.item-info {

			font-size: 1.8rem;

			.title {
				margin-top: -6px;

				font-size: 2.2rem;
				line-height: 2.4rem;

				.year {
					margin-top: 4px;

					font-size: 1.4rem;
				}
			}

			.item-meta {
				margin-top: 20px;

				font-size: 1.4rem;
				line-height: 1.9rem;
			}

			.item-id {
				font-size: 1.4rem;
				color: #999;
			}
		}

		.detail-info {
			position: absolute;

			top: -17px;
			left: 10px;

			min-width: 400px;

			padding: 20px;

			background-color: @page-background;

			z-index: 1;

			box-shadow: 0 2px 45px 15px rgba(0, 0, 0, 0.6);

			pointer-events: none;
			opacity: 0;
			.transition(all 300ms ease-in-out);

			@media screen and (max-width: 800px) {
				right: 20px;
			}

			.image-thumb {
				width: auto;
				height: auto;

				img {
					max-width: 150px;
				}
			}

			.item-info {
				position: relative;

				float: none;

				right: auto;
				left: auto;

				height: auto;

				.item-meta {
					position: relative;
					
					margin-top: 20px;
					
					font-size: 1.6rem;
					line-height: 2rem;
				}
			}
		}

		&:hover {
			.detail-info {
				pointer-events: all;

				opacity: 1;
			}
		}
	}
}
