.image-list {
	position: relative;

	.loading-overlay {
		position: absolute;

		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgba(25, 25, 25, 0.5);
		background-image: url(../img/loading-white.gif);
		background-size: 60px;
		background-repeat: no-repeat;
		background-position: center 100px;

		opacity: 0;

		pointer-events: none;

		.transition(all 300ms ease-in-out);

		.loading& {
			opacity: 1;
		}
	}
}

.image-label-list {
	.label-item {
		display: inline-block;

		position: relative;

		.image-wrapper {
			position: absolute;

			top: 50%;
			left: 50%;

			opacity: 0;

			pointer-events: none;

			.transition(all 400ms ease-in-out);

			.transform(translate(-50%, -50%));

			z-index: 10;

			img {
				max-width: 200px;
				max-height: 200px;
			}
		}

		&:hover {
			.image-wrapper {
				opacity: 0.8;
			}
		}

		.label {
			.button-link();
		}
	}
}

.grid {
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: center 100px;
	background-size: 80px 80px;

	.grid-columns& {
		column-count: 6;
		column-gap: 0;
	}

	.container + & {
		margin-top: 50px;
	}

	.initialized& {
		background-image: none;
	}

	.no-results {
		position: relative !important;
		
		padding: 40px;
		
		text-align: center;
	}

	.grid-item {
		display: block;

		position: relative;

		float: left;

		width: 20%;

		min-height: 100px;

		.transition(all 100ms ease-in-out);

		.grid-columns& {
			width: 100% !important;
		}

		img {
			display: block;

			position: relative;

			width: 100%;
			height: 100%;

			opacity: 0;

			.transition(all 100ms ease-in-out);
	
			.initialized& {
				opacity: 1;
			}
		}

		.image-wrapper {
			position: relative;

			overflow: hidden;

			.image-proxy {
				display: none;

				position: absolute;

				top: 50%;
				left: 50%;

				background-size: cover;
				background-position: center;

				.transform(translate(-50%, -50%));
				.transition(all 300ms ease-in-out);

				z-index: 2;

				&.visible {
					display: block;
				}

				&.relative {

				}
			}

			img {
				.transform(scale(1.07));
			}
		}

		.grid-title {
		    position: absolute;
		
			bottom: 0;
			left: 0;
			right: 0;
		
			padding: 10px;
		
			background: rgba(0, 0, 0, 0.67);
		
			color: #fff;
			font-size: 1.8rem;
			line-height: 2.8rem;
			text-align: center;

			opacity: 0;

			pointer-events: none;

			.transform(translateY(80%));

			.transition(all 300ms ease-out);
		}

		&:hover {
			box-shadow: 0 2px 45px 15px rgba(0, 0, 0, 0.6);

			z-index: 50;

			.transform(scale(1.1));

			.grid-title {
				opacity: 1;

				.transform(translateY(100%));
			}
		}
	}

	.grid-sizer {
		width: 20%;
	}

	@media screen and (max-width: 1250px) {
		.grid-item, .grid-sizer {
			width: 25%;
		}
	}

	@media screen and (max-width: 1024px) {
		.grid-item, .grid-sizer {
			width: 33.3%;
		}
	}

	@media screen and (max-width: 900px) {
		.grid-item, .grid-sizer {
			width: 50%;
		}
	}

	@media screen and (max-width: 400px) {
		.grid-item, .grid-sizer {
			width: 50%;
		}
	}
}
