@timeline-visible-point: 800px;

.timeline-view {
	position: relative;

	min-height: 100vh;

	.timeline-year-select {
		display: none;

		position: sticky;

		top: 20px;

		padding: 10px 10px 40px 10px;

		text-align: center;

		z-index: 10;

		&.fixed {
			position: fixed;

			top: 20px;
			left: 0;
			right: 0;
		}

		select {
			height: auto;
			
			color: #fff;
			
			background: #000;
			
			border-color: #000;
			box-shadow: 0px 1px 8px #ffffff30;
		}

		@media screen and (max-width: @timeline-visible-point) {
			display: block;
		}
	}

	.timeline-year-list {
		position: absolute;

		top: 20px;
		left: 55px;

		width: 40px;

		text-align: center;

		.transition(all 300ms ease-in-out);

		.transform(translateX(-200px));

		@media screen and (max-width: @timeline-visible-point) {
			display: none !important;
		}

		&.visible {
			.transform(translateX(0));
		}

		&.fixed {
			position: fixed;

			top: 20px;
		}

		.year-item {
			display: block;

			position: relative;

			cursor: pointer;

			.detail-years {
				position: absolute;

				top: 10px;
				left: 95px;

				text-align: left;

				.detail-item {
					display: block;

					position: relative;

					color: #fff;

					white-space: nowrap;

					&:after {
						content: " ";
						
						display: inline-block;

						position: relative;

						left: 0;
						top: -1px;

						vertical-align: middle;
						
						margin-left: 10px;

						width: 7px;
						height: 7px;
						
						background: #fff;

						border-radius: 100%;

						opacity: 0;

						.transition(all 300ms ease-in-out);
					}

					&.selected {
						&:after {
							right: -20px;

							opacity: 1;
						}
					}
				}
			}

			.year-label {
				position: relative;

				width: 35px;

				color: #fff;
				font-size: 1.5rem;

				&:after {
					content: " ";
					
					display: block;
					
					position: absolute;
					
					right: 0;
					top: 8px;

					margin-right: 10px;

					width: 7px;
					height: 7px;
					
					background: #fff;

					border-radius: 100%;

					opacity: 0;

					.transition(all 300ms ease-in-out);
				}
			}

			&.dot-item {
				position: relative;

				height: 5px;

				&:after {
					content: " ";

					display: inline-block;

					position: absolute;

					top: 3px;

					width: 2px;
					height: 2px;
					
					background: #e3e3e3;

					border-radius: 100%;
				}

				.year-label {
					position: absolute;

					display: inline-block;

					left: 0;

					span {
						display: inline-block;

						position: absolute;
					
						top: -40px;
						left: -4px;

						padding: 4px;
					
						background: #083240;
					
						border-radius: 3px;
					
						opacity: 0;
					
						box-sizing: border-box;
					
						pointer-events: none;

						.transition(all 300ms ease-in-out);
					}

					&:after {
						top: 0;
					}
				}

				&:hover {
					.year-label {
						span {
							opacity: 1;
						}
					}
				}
			}

			&.selected {
				.year-label {
					&:after {
						right: -30px;

						opacity: 1;
					}
				}
			}

			.doc-points {
				display: none;

				.point {
					display: inline-block;

					width: 2px;
					height: 2px;

					border-radius: 100%;

					background: #fff;
				}
			}
		}

		&.flex {
			display: flex;

			flex-direction: column;
			justify-content: center;

			&.fixed {
				bottom: 120px;

				height: auto;
			}

			.year-item {
				flex-grow: 1;
			}
		}
	}

	.gallery-container {
		@media screen and (min-width: @timeline-visible-point) {
			margin-left: 250px;
		}

		@media screen and (max-width: @timeline-visible-point) {
			.image-list {
				padding: 0 20px;
			}

			h3 {
				padding-left: 20px;
			}
		}

		.year-item {
			min-height: 200px;
		}

		.image-list {
			h3 {
				font-size: 2.2rem;
			}

			.no-results {
				display: none;
			}
		}
	}
}